<div class="auth-form">
    {{ form_start(form) }}
    <div class="auth-field">
        {{ form_row(form.bio) }}
    </div>
    <div class="auth-actions">
        <button type="submit">Сохранить профиль</button>
    </div>
    {{ form_end(form) }}
</div>
